@page "/"

@using Amazonia.DeliveryRoute.Commons.Extensions
@using Amazonia.DeliveryRoute.Commons.Models
@using Amazonia.DeliveryRoute.UserInterface.Models
@using Microsoft.Extensions.Options
@using System.Text

@rendermode RenderMode.InteractiveServer

@inject IOptions<DeliveryRouteOptions> Options

<PageTitle>Delivery Grid</PageTitle>
<h3>Delivery Grid</h3>

<div class="container overflow-hidden text-center">
    <div class="chess-board">
        <div class="row align-items-center">
            @for (int column = 0; column < this.GridWidth; column++)
            {
                @if (0.Equals(column))
                {
                    <div class="col"></div>
                }

                <div class="col align-self-center">@(column.AsColumnName())</div>
            }

            @{
                bool colorToggle = true;
            }

            @for (int column = 0; column < this.GridWidth; column++)
            {
                <div class="row align-items-center">

                    @for (int row = 0; row < this.GridHeight; row++)
                    {
                        @if (0.Equals(row))
                        {
                            <div class="col align-self-center">@(column + 1)</div>
                        }

                        var color = colorToggle ? "light" : "dark";
                        var itemId = $"{column.AsColumnName()}{row}";

                        <div class="col @color" id="@(itemId)"@onclick="args => SelectInterest(args, itemId)"></div>
                    }

                </div>
            }
        </div>
    </div>
</div>

@code {
    private int GridWidth { get; set; }

    private int GridHeight { get; set; }

    public DistanceRequest? Model { get; set; }

    protected override void OnInitialized()
    {
        this.Model ??= new();

        this.GridHeight = Options.Value.GridHeight;
        this.GridWidth = Options.Value.GridWidth;
    }

    protected override void OnParametersSet()
    {
    }

    private void SelectInterest(EventArgs args, string itemId)
    {
        Console.WriteLine(itemId);
    }
}
